// .container-1 {
//     text-align: center;
//     align-content: center;
// }

// .board {
//     display: inline-flex;
//     flex-wrap: wrap;
//     width: 320px;
// }

// .box {
//     width: 100px;
//     height: 100px;
//     border: 3px solid black;
//     display: inline-block;
//     line-height: 80px;
// }

// .box:hover {
//     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
//     background-color: #ABA8A8
// }

// h3, h1 {
//  text-align: center;
// }

// .button-div, .player-choice {
//     margin-top: 10px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .container {
//     text-align: center;
//     font-weight: bold;
// }

// body {
//     background-color: #A2BFF4
// }

// .btn-secondary {
//     margin: 3px
// }

// .btn-success {
//     margin-bottom: 20px
// }

// .copy {
//     text-align: center;
//     margin-top: 50px;
// }

// ________________________________

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#border{
    display: flex;
    width: 300px;
    height: 300px;
    flex-wrap: wrap
}
.square{
    height: 100px;
    width: 100px;
    border: 1px solid #000;
    display: inline-block;
}