@import './variables.scss';
@import './header';
@import './game.scss';
@import './login.scss';
@import './product.scss';
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.m-top-20{
  margin-top: 20px;
}
.m-lft-50{
  margin-left: 50px;
}