.container{
    margin: 20px;
       
}
.pageHeading{
    text-align: center;
    margin-top: 8vh;
}
.box{
    margin-top: 20px;
	width:100%;
    border:1px solid rgba(80,80,80,0.4);
    border-radius: 2px;
    box-shadow: 5px 5px 3px rgba(80,80,80,0.6);
}
.head{
    font-size: 16px;
    font-weight: 600;
    background: rgba(80,80,80,0.1);
    border-bottom:1px solid;
    padding: 5px;
}
.post{
    font-size: 13px;
    padding: 10px;
}
.post-title{
    font-size: 14px;
    font-weight: 600;
}